<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gator Food Court</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styling/styles.css" />
  </head>
  <body>
    <header>
      <div class="menu-toggle" onclick="toggleMenu()">&#9776;</div>
      <nav>
        <a href="index.html">Home</a>
        <a href="map.html">Map</a>
        <a href="menu.html">Menu</a>
        <a href="shop.html">Shop</a>
        <a href="reviews.html">Reviews</a>
        <a href="specials.html">Specials</a>
      </nav>
      <div class="account-icon">
        <a href="login.html">&#128100;</a>
      </div>
    </header>
    <main>
      <section id="home">
        <h1 class="headr">Gator Food Court</h1>
        <div class="welcome-text">
          <p>
            Welcome to the Gator Food Court application! Browse through food
            options, check out menus, and discover services offered by food
            vendors around SFSU.
          </p>
        </div>
      </section>
      
      <div class="album-container">
        <h2 class="headr">Popular Restaurants</h1>
        <div class="gallery">
          <a href="./menu.html" target="_self">
            <img src="./images/nizarios.avif" width="600" height="400" />
            <div class="author">Nizario's Pizza</div>
          </a>
        </div>

        <div class="gallery">
          <a href="./menu.html" target="_self">
            <img src="./images/halal.png" width="600" height="400" />
            <div class="author">Halal Gyro & Shawarma</div>
          </a>
        </div>

        <div class="gallery">
          <a href="./menu.html" target="_self">
            <img src="./images/subway600.jpeg" width="600" height="400" />
            <div class="author">Subway</div>
          </a>
        </div>

        <div class="gallery">
          <a href="./menu.html" target="_self">
            <img src="./images/quicklyy.avif" width="600" height="400" />
            <div class="author">Quickly</div>
          </a>
        </div>

        <div class="gallery">
          <a href="./menu.html" target="_self">
            <img src="./images/gold.png"width="600" height="400" />
            <div class="author">Gold Coast Grill</div>
          </a>
        </div>

        <div class="gallery">
          <a href="./menu.html" target="_self">
            <img src="./images/cafe101.png" width="600" height="400" />
            <div class="author">Cafe 101</div>
          </a>
        </div>
      </div>
    </main>
    <footer>
      <p>&copy; 2023 Gator Food Court. All rights reserved.</p>
    </footer>
    <script src="script.js"></script>
  </body>
</html>
