<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu - Gator Food Court</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styling/styles.css" />
  </head>
  <body>
    <header>
      <div class="menu-toggle" onclick="toggleMenu()">&#9776;</div>
      <nav>
        <a href="index.html">Home</a>
        <a href="map.html">Map</a>
        <a href="menu.html">Menu</a>
        <a href="shop.html">Shop</a>
        <a href="reviews.html">Reviews</a>
        <a href="specials.html">Specials</a>
      </nav>
      <div class="account-icon">
        <a href="login.html">&#128100;</a>
      </div>
    </header>
    <main>
      <section id="menu">
        <div class="heading">
            <h1 class="restaurant-title centered-title">The Halal Shop Menu</h1>
          </div>
          <div class="restaurant-selector">
            <label for="restaurant-select">Select a restaurant:</label>
            <select id="restaurant-select" onchange="location = this.value;">
              <option value="menu.html">The halal shop</option>
              <option value="menu2.html">Quickly</option>
              <option value="menu3.html">Gold coast grill</option>
              <option value="menu4.html">Nizario's pizza</option>
              <option value="menu5.html">Subway</option>
              <option value="menu6.html">Taza</option>
            </select>
          </div>
        </div>
        <br />
        <div class="grid-col-3">
          <div class="menu-item uniform-menu-item">
            <img
              src="images/chickentikkaoverrice-.jpg"
              alt="chickentikkaoverrice-"
            />
            <h2>Chicken Tikka Over Rice</h2>
            <p>
              marinated chcken with tikka gravy over rice with spicy sauce on
              top and tahini.
            </p>
            <p>Price : $11.75</p>
            <button>Add to Cart</button>
          </div>
          <div class="menu-item uniform-menu-item">
            <img src="images/chickengyro.jpg" alt="Food Item 2" />
            <h2>Chicken Gyro</h2>
            <p>
              marinated greek style chicken wrapped in pita bread with spicy
              sauce and lettuce .
            </p>
            <p>Price : $10</p>
            <button>Add to Cart</button>
          </div>
          <div class="menu-item uniform-menu-item">
            <img src="images/lambgyro.jpg" alt="Food Item 3" />
            <h2>Lamb Gyro</h2>
            <p>
              marinated greek style lamb wrapped in pita bread with spicy sauce
              and lettuce .
            </p>
            <p>Price : $12.25</p>
            <button>Add to Cart</button>
          </div>
          <div class="menu-item uniform-menu-item">
            <img src="images/lambtikkaoverrice.jpg" alt="Food Item 4" />
            <h2>Lamb Tikka Over Rice</h2>
            <p>
              marinated lamb with tikka gravy over rice with spicy sauce on top
              and mayo.
            </p>
            <p>Price : $14$</p>
            <button>Add to Cart</button>
          </div>
          <div class="menu-item uniform-menu-item">
            <img src="images/falafelgyro.jpg" alt="Food Item 5" />
            <h2>Falafel Gyro</h2>
            <p>
              vegetarian falafal wrapped in pita bread with spicy sauce and
              lettuce
            </p>
            <p>Price : $11</p>
            <button>Add to Cart</button>
          </div>
          <div class="menu-item uniform-menu-item">
            <img src="images/falafeltikkaoverrice.jpg" alt="Food Item 6" />
            <h2>Falafel Tikka Over Rice</h2>
            <p>
              falafal with tikka gravy over rice with spicy sauce on top and
              tahini.
            </p>
            <p>Price : $12</p>
            <button>Add to Cart</button>
          </div>
          <div class="menu-item uniform-menu-item">
            <img src="images/PEPSI.jpeg" alt="Food Item 7" />
            <h2>PEPSI</h2>
            <p>Price : $2</p>
            <button>Add to Cart</button>
          </div>
          <div class="menu-item uniform-menu-item">
            <img src="images/7-UP.jpeg" alt="Food Item 8" />
            <h2>7-UP</h2>
            <p>Price : $2</p>
            <button>Add to Cart</button>
          </div>
          <div class="menu-item uniform-menu-item">
            <img src="images/Aquafina.jpeg" alt="Food Item 9" />
            <h2>Aquafina</h2>
            <p>Price : $2</p>
            <button>Add to Cart</button>
          </div>
        </div>
        <!-- Need to include menu's from vendors -->
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Gator Food Court. All rights reserved.</p>
    </footer>
    <script src="script.js"></script>
  </body>
</html>
