<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Specials - Gator Food Court</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styling/styles.css" />
  </head>
  <body>
    <header>
      <div class="menu-toggle" onclick="toggleMenu()">&#9776;</div>
      <nav>
        <a href="index.html">Home</a>
        <a href="map.html">Map</a>
        <a href="menu.html">Menu</a>
        <a href="shop.html">Shop</a>
        <a href="reviews.html">Reviews</a>
        <a href="specials.html">Specials</a>
      </nav>
      <div class="account-icon">
        <a href="login.html">&#128100;</a>
      </div>
    </header>
    <main>
      <section id="specials">
        <div class="container">
          <h1>SPECIALS</h1>
          <h2>THIS WEEK'S SPECIAL</h2>
          <div class="specials-row">
            <!-- list of specials -->
            <div class="image-container">
              <img src="images/COKE.jpg" alt="Coke" />
              <div class="image-details">
                <p>GET A FREE COKE WITH PURCHASE OF ORDER ABOVE $10</p>
                <p class="image-name">THE HALAL SHOP</p>
              </div>
            </div>
            <div class="image-container">
              <img src="images/goldocast.jpg" alt="Veg Lasagna" />
              <div class="image-details">
                <p>VEG LASAGNA FOR 13.99$</p>
                <p class="image-name">GOLD COAST GRILL</p>
              </div>
            </div>
            <div class="image-container">
              <img src="images/subway.jpeg" alt="Subway" />
              <div class="image-details">
                <p>BUY ONE GET ONE FOOTLONG FREE</p>
                <p class="image-name">SUBWAY</p>
              </div>
            </div>
            <div class="image-container">
              <img src="images/nizzariospizza.jpeg" alt="Pizza" />
              <div class="image-details">
                <p>GET A SMALL PIZZA JUST FOR 6.99$!</p>
                <p class="image-name">NIZZARIOS PIZZA</p>
              </div>
            </div>
            <div class="image-container">
              <img src="images/quickly.jpg" alt="Boba" />
              <div class="image-details">
                <p>BUY ONE BOBA GET ONE BOBA 50% OFF</p>
                <p class="image-name">QUICKLY</p>
              </div>
            </div>
            <div class="image-container">
              <img src="images/cafe101.jpg" alt="Cafe 101" />
              <div class="image-details">
                <p>GET 20% OFF ON ALL BREAKFAST MENU ITEMS</p>
                <p class="image-name">CAFE 101</p>
              </div>
            </div>
          </div>
          <h2>ASSOCIATED DEALS</h2>
          <div class="specials-row">
            <div class="image-container">
              <img src="images/HALAL SHOP.jpeg" alt="Halal Shop" />
              <div class="image-details">
                <p>EMPLOYEE DEAL! GET A MEAL FOR $5 IF YOU WORK ON CAMPUS</p>
                <p class="image-name">THE HALAL SHOP</p>
              </div>
            </div>
            <div class="image-container">
              <img src="images/SUBWAYOFF.jpg" alt="Subway" />
              <div class="image-details">
                <p>STUDENTS GRADUATING THIS SEMESTER, GET SUB FOR ONLY $3</p>
                <p class="image-name">SUBWAY</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Gator Food Court. All rights reserved.</p>
    </footer>
    <script src="script.js"></script>
  </body>
</html>
